<div class="jumbotron">
<h1><i class="fa fa-circle-o-notch"></i>Markets</h1>
	<p>FX rates and More!</p>	
	<%= link_to 'Get Daily Updates', new_user_registration_path, class: ' btn btn-primary btn-lg' %>  
</div>

	